/* tabs */

.nav-pills {
  display: flex;
  width: 100%;
}

.nav-pills li {
  font-size: small;
  border-radius: 1rem;
}

.nav-pills button {
  text-align: center;
}

.nav-fill .nav-link {
  border: none;
  color: darkgrey;
}
.nav-pills .nav-link.active {
  background-color: var(--bg-dark);
  color: white;
  border-radius: 30px;
  font-size: small;
}

.tab-content {
  border-radius: 10px;
  padding: 1rem;
}

.box-1 {
  border-left: 16px solid #5474c4;
}

.box-2 {
  border-left: 16px solid #91cc75;
}
