<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-fixed">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          routerLink="home"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Etrike</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          @for (item of tabs; track $index) {
          <li class="nav-item w-100">
            <a
              class="nav-link text-light d-flex"
              [routerLink]="item.route"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon [icon]="item.selectedIcon" class="me-2"></fa-icon>
              <small class="ms-1 flex-grow-1 d-none d-sm-inline">{{
                item.label
              }}</small>
            </a>
          </li>
          }
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            routerLink="administration"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              [src]="admin$?.profile || '../../../assets/images/person.png'"
              alt="Profile"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">{{ admin$?.name }}</span>
          </a>
        </div>
      </div>
    </div>

    <div
      class="col offset-md-3 offset-xl-2"
      style="overflow-y: auto; max-height: 100vh"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
