<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col">
      <div class="box bg-dark text-light">
        <small>Passengers</small>
        <h5>{{ passengers }}</h5>
      </div>
    </div>

    <div class="col">
      <div class="box bg-dark text-light">
        <small>Driver</small>
        <h5>{{ drivers }}</h5>
      </div>
    </div>

    <div class="col">
      <div class="box bg-dark text-light">
        <small>Report</small>
        <h5>0</h5>
      </div>
    </div>

    <div class="col">
      <div class="box bg-dark text-light">
        <small>Emergency</small>
        <h5>0</h5>
      </div>
    </div>
  </div>
</div>
